body{
    background-color: #ffffff;
}

#one{
    text-align: center;
}
#mydiv{
    background-color: cornflowerblue;
    margin: 30px;
    padding: 30px;
    color: white;
}

button{
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;

}
button:hover{
    background-color: #c915c0;

}

#main{
    display: flex;
}

#myservices {
    background-color: chartreuse;
    margin: 20px;
    padding: 20px;
    display: flex;
}
#watch{
    display: flex;
    margin: 40px;

}
#image1{
    margin-right: 20px;
}
 #example{
     display: flex;
 }